/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
}

:root{
  --mario-bg-red: #B2443F;
  --mario-cap: #B53234;
  --mario-skin: #F1BE95;
  --mario-hair: #642817;
  --mario-eye: #5AB7D1;
  --mario-mouth: #531414;
  --mario-tongue: #B52928;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, pre, code, kbd, samp, p{
  font-family: 'Press Start 2P', cursive;
}

html, body {
  height:100%;
  margin:0;
  scroll-behavior: smooth;
}

section, ul, ol{
  margin: 0; 
  padding: 0; 
}

h1, h2, h3 {
  color:black;
  display: block;
  width: 100%;
  text-align: center;
}

body{
  background-color: var(--mario-bg-red);
}

#home > main > section h1{
  top: 60px;
  position: fixed;
}

#credits main > section,
#rules main > section{
  margin-top: 40px;
}

#home > main > section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#home > main > section > section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

main > div{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  top: 40px;
  right: 60px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  z-index: 999999;
  box-shadow: 1px 1px 10px black;
}

main > div.active{
  box-shadow: inset 1px 1px 5px black;
}

main > div > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 50%;
}

main > div > div > span{
  border-bottom: 5px solid black;
  width: 100%;
}

div.energy{  
  width: 500px;
  height: 30px;
  margin: 20px;
  border-radius: 20px;
  border: 4px solid black;
  background-color: black;
  overflow: hidden;
  position: relative;
}

div.energy > span:first-child{
  width: 0;
  /* width: inherit; */
  height: 50px;
  background-color: white;
  position: absolute;
  transition: width .5s;  
}

div.energy > span > span{
  position: relative;
  float: right;
  margin-right: 5px;
  padding: 5px;
}

div.streak{
  width: 300px;
  height: 60px;
  top: 40px;
  left: 60px;
  padding: 5px;
  z-index: 99;
}

div.streak > span{
  display: block;
}

#rules main,
#credits main{
  padding-top: 20px;
  text-align: center;
}

#rules main > section:nth-of-type(2) ul{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#rules main > section:nth-of-type(2) ul li{
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: auto;
  max-width: 450px;
  padding: 20px;
  margin: 10px 20px;
  border-radius: 20px;
  background-color: white;

  border: 2px solid black;
  font-size: 16px;
}

#rules main > section:nth-of-type(2) ul li span{
  margin: 5px 2px;
}

#rules main > section:nth-of-type(2) ol{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#rules main > section:nth-of-type(2) > ol li{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: white;
  width: auto;
  padding: 20px;
  border-radius: 20px;
  margin: 10px 5px;
  width: 50%;

  border: 2px solid black;
  font-size: 16px;
}

#rules main > section:nth-of-type(2) ol li.warning{
  background-color: yellow;
}

#credits > main > section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#credits > main > section > ul {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

#credits > main > section > ul > li{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 10px 5px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid black;
  font-size: 16px;  
  text-align: center;
  background-color: white;
  list-style-type:none;
}

#credits > main > section > ul > li span{
  width: 100%;
  display: block;
}


/* Menu */ 
header{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  height: 0;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 99999;
  background-color: var(--mario-bg-red);
  filter: drop-shadow(1px 1px 5px black);
  border-radius: 20px;
  left:50%; 
  top:50%; 
  transform: translate(-50%, -50%);
  transition: height .5s ease;
}

header.open{
  height: 95vh;
}

header::-webkit-scrollbar {
  display: none;
}

body.no-scroll{
  overflow-y: hidden;
}

header > section:first-child{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 22px;
}

header > section:last-child > article{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

header > section:nth-child(2) h2, header > section:nth-child(2) h2{
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

header > section:first-child button.active{
  background-color: palevioletred;
  color: white !important;
}

header > section:first-child button a{
  text-decoration: none;
  color: black;
}

header > section:first-child button:hover, header > section:nth-child(2) > article:first-of-type > section > button.active{
  box-shadow: inset 1px 1px 5px black;
}

header > section:nth-child(2) > article:first-of-type{
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

header > section:nth-child(2) > article:first-of-type > section{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

header > section:nth-child(2) > article:first-of-type > section > button{
  width: 150px;
  height: 40px;
  margin: 10px 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 1px black;
  border-radius: 20px;
}

header > section:nth-child(2) > article:first-of-type > section > button:hover{
  box-shadow: inset 1px 1px 5px black;
}

header > section:nth-child(2) > article:nth-of-type(2){
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 20px;
}

header > section:nth-child(2) > article:nth-of-type(2) > section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 20px;
}

header > section:nth-child(2) > article:nth-of-type(2) > section > input{

  margin-bottom: 20px;
}
/* Einde menu */

/* Buttons */
.buttons{
  position: relative;
  top: -145px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.buttons button, #home > main > section > section button, header > section:first-child button{
  position: relative;
  width: 200px;
  height: 40px;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 1px black;
}

#home > main > section > section button, header > section:first-child button{
  width: 400px;
  height: 80px;
}

#home > main > section > section button.primary{ 
  width: 450px;
  height: 100px;
  border: 4px solid black;
  border-radius: 50px;
}

.buttons button span{
  display: block;
}

.buttons button.flash::after{
  content: "Flash warning!";
  position: absolute;
  top: 36px;
  left: 13%;
  padding: 5px;
  width: 150px;
  background-color: yellow;
  border-radius: 0 0 15px 15px;
  border: 2px solid black;
}

.buttons button:hover, #home > main > section > section button:hover{
  background-color: white;
  box-shadow: inset 1px 1px 5px black;
}

.buttons button:active {
  background-color: var(--mario-bg-red);
  color: white;
  box-shadow: inset 3px 3px 5px black;
}

.buttons button:focus {
  outline:0;
  border: 4px solid black;
}

.buttons button span{
  display: block;
  position: absolute;
  top: -15px;
  right: -20px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}
/* Einde buttons */

.personages{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 500px;
}

.personage{
  width: 220vmin;
  height: 100%;
  padding:50px;
}

.personage aside{
  position: relative;
  height: 100vh;
  bottom: 0;
  right: 0;
}

.mario{
  background-color: var(--mario-bg-red);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 0;
  flex-direction: column;
}

.mario > span{
  position: absolute;
}


#og-star{
  position: absolute;
  width: 100px;
  z-index: 999;
  filter: drop-shadow(0px 0px 2px yellow);
  transition: left .6s ease-in-out, top .6s ease-in-out;
  cursor: pointer;
}

#og-star span{
  position: absolute;
}

#og-star img{
  width: 100%;
}
#og-star img:hover{
  filter: drop-shadow(0px 0px 10px yellow);
}

.mario > section:first-of-type{
  position: relative;
  height: 500px;
  width: 500px;
  margin-top: 40px;
  filter: drop-shadow(0px 0px 2px black);
}

/* Pet kroon */
.mario > section:first-of-type > section:first-of-type{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: -2;
}

.mario > section:first-of-type > section:first-of-type > section:first-of-type{
  height: 50%;
  width: 50%;
  background-color: var(--mario-cap);
  transform: rotate(45deg);
  border-radius: 38% 62% 67% 33% / 41% 25% 75% 59% ;
}

.mario > section:first-of-type > section:first-of-type > section:nth-of-type(2){
  position: absolute;
  top: 25px;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
}
.mario > section:first-of-type > section:first-of-type > section:nth-of-type(2) > section{
  position: relative;
  left: 5px;
  top: 5px;
  width: 80px;
  height: 80px;
  background-color: var(--mario-cap);
  clip-path: polygon(50% 35%, 68% 15%, 92% 64%, 76% 74%, 64% 41%, 50% 56%, 36% 39%, 24% 75%, 9% 63%, 31% 14%);
  z-index:10;
}

.mario > section:first-of-type > section:first-of-type > section:nth-of-type(2) > section::after{
  content: "";
  position: relative;
  left: 5px;
  top: 5px;
  width: 80px;
  height: 80px;
  background-color: white;
  clip-path: polygon(50% 35%, 68% 15%, 92% 64%, 76% 74%, 64% 41%, 50% 56%, 36% 39%, 24% 75%, 9% 63%, 31% 14%);
  z-index:10;
  transform: scale(0.9);
}
/* Einde pet kroon */

/* Gezicht */
.mario > section:first-of-type > section:nth-of-type(2){
  position: absolute;
  top: 120px;
  left: 150px;
  /* background-color: var(--mario-skin); */
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
/* Einde gezicht */

/* Oren */
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(4){
  position: absolute;
  top: 55px;
  width: 100%;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(4) > section{
  position: absolute;
  width: 50px;
  height: 80px;
  background-color: black;
  background-color:  var(--mario-skin);
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(4) > section:first-of-type{
  left: -32px;
  transform: rotate(145deg);
  border-radius: 15% 85% 62% 38% / 15% 30% 70% 85%;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(4) > section:last-of-type{
  right: -32px;
  transform: rotate(-145deg) scaleX(-1);
  border-radius: 15% 85% 62% 38% / 15% 30% 70% 85%;
}
/* Einde oren */

/* Pet rand */
.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:first-of-type{
  position: absolute;
  height: 210px;
  width: 220px;
  transform: rotate(90deg);
  bottom: 11px;
  z-index: 5;
  border-radius: 120px;
  border-bottom-right-radius: 150px;
  border-top-right-radius: 150px;
  background: radial-gradient(circle at 100%, var(--mario-skin), var(--mario-skin) 50%, var(--mario-skin) 75%, #B53234 75%);
}

.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(2){
  position: absolute;
  height: 200px;
  width: 170px;
  transform: rotate(90deg);
  top: -19px;
  z-index: 6;
  background: radial-gradient(circle at 150%, transparent, transparent 55%, transparent 85%, #9b1315 86%);
  border-radius: 60px;
}
/* Einde pet rand */

/* Haren */
.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3){
  position: absolute;
  top: 25px;
  width: 100%;
  height: 80px;
  z-index: 5;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section > section{
  position: absolute;
  border-radius: 50%;
  background-size: 451% 170%;
  background-position: center bottom;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section > section:first-child{
  width: 59px;
  height: 63px;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section > section:nth-child(2){
  width: 53px;
  height: 52px;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section > section:last-child{
  width: 60px;
  height: 59px;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section:first-of-type > section {
  left: -5px;
  background-image: radial-gradient(at 50% bottom, transparent 61px, var(--mario-hair) 62px);
}
.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section:first-of-type > section:first-child{
  transform: rotate(-93deg);
}
.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section:first-of-type > section:nth-child(2){
  top: 28px;
  left: -36px;
  transform: rotate(-283deg);
  background-image: radial-gradient(at 45% bottom, transparent 61px, var(--mario-hair) 62px);
}
.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section:first-of-type > section:last-child{
  top: 28px;
  left: -6px;
  transform: rotate(-102deg);
}

.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section:last-of-type > section {
  right: -5px;
  background-image: radial-gradient(at 52% bottom, transparent 61px, var(--mario-hair) 62px);
  transform: rotate(90deg);
}
.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section:last-of-type > section:first-child{
  transform: rotate(93deg);
}
.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section:last-of-type > section:nth-child(2){
  top: 28px;
  right: -36px;
  transform: rotate(277deg);
  background-image: radial-gradient(at 45% bottom, transparent 61px, var(--mario-hair) 62px);
}
.mario > section:first-of-type > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) > section:last-of-type > section:last-child{
  top: 29px;
  right: -8px;
  transform: rotate(105deg);
}
/* Einde haren */

/* Wenkbrauwen */
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(2){
  top: -187px;
  left: 25px;
  width: 75%;
  height: 80px;
  z-index: 7;
  position: relative;
  transition: all 1s;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(2) > section{
  position: absolute;
  width: 60px;
  height: 70px;
  border-radius: 50%;
  background-size: 451% 170%;
  background-position: center bottom;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(2) > section:first-child{
  left: 0;
  background-image: radial-gradient(at 48% bottom, transparent 61px, var(--mario-hair) 62px);
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(2) > section:last-child{
  right: 0;
  background-image: radial-gradient(at 52% bottom, transparent 61px, var(--mario-hair) 62px);
}
/* Einde enkbrauwen */

/* Ogen */
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3){
  position: relative;
  top: -290px;
  left: 40px;
  width: 60%;
  height: 50px;
  z-index: 5;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section{
  position: absolute;
  top: 46px;
  width: 49px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  z-index: 6;
  overflow: hidden;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section > section:first-child{
  transform: translateY(-61px);
  position: absolute;
  top: 0;
  width: 49px;
  height: 60px;
  background-color: var(--mario-skin);
  border-radius: 5%;
  z-index: 7;
  box-shadow: 0px 0px 2px black;
  transition: top .6s ease-in-out;
}

.mario.tired > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section > section:first-child{
  top: 30px;
}

.mario.sleep > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section > section:first-child{
  top: 60px;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section > section:nth-child(2){
  position: absolute;
  top: 16px;
  width: 35px;
  height: 40px;
  border-radius: 30% 70% 20% 80% / 30% 80% 20% 70%;
  z-index: 6;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section > section:nth-child(2) > section{
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: black;
  transform: rotate(-10deg);
  border-radius: 30% 70% 20% 80% / 30% 80% 20% 70% ;
  z-index: 7;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section > section:nth-child(2) > section > section{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section:first-child{
  left: 0;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section:first-child > section:first-child{
  bottom: -20px;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section:first-child > section:nth-child(2){
  background-color: var(--mario-eye);
  left: 12px;
  transform: rotate(32deg);
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section:first-child > section:nth-child(2) > section{
  top: 7px;
  left: 9px;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section:first-child > section:nth-child(2) > section > section{
  top: -4px;
  left: 4px;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section:last-child{
  right: 0;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section:last-child > section:first-child{
  bottom: -20px;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section:last-child > section:nth-child(2){
  background-color: var(--mario-eye);
  right: 11px;
  transform: scaleX(-1) rotate(32deg);
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section:last-child > section:nth-child(2) > section{
  top: 6px;
  right: 6px;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section:last-child > section:nth-child(2) > section > section{
  top: 0px;
  left: -4px;
}
/* Einde ogen */

/* Neus */
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(5){
  position: absolute;
  top: 70px;
  left: 58px;
  background-color: var(--mario-skin);
  width: 83px;
  height: 73px;
  box-shadow: 1px 1px 5px black;
  border-radius: 35px;
  z-index: 8;
  transform: scale(0.9);
}
/* Einde neus */

/* Snor */
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(6){
  position: relative;
  top: -240px;
  width: 154px;
  left: 24px;
  height: 60px;
  z-index: 7;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(6) > section{
  position: absolute;
  width: 85px;
  height: 60px;
  border-radius: 50%;
  background-size: 461% 200%;
  background-image: radial-gradient(at 46% bottom, transparent 61px, var(--mario-hair) 62px);
  background-position: center bottom;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(6) > section > section{
  position: absolute;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--mario-hair);
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(6) > section:first-child{
  left: 0;
  top: -15px;
  transform: rotate(180deg);
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(6) > section:first-child > section:first-child{
  top: -9px;
  left: 27px;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(6) > section:first-child > section:last-child{
  top: -17px;
  left: 0;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(6) > section:last-child{
  right: 0;
  top: -15px;
  transform: rotate(180deg) scaleX(-1);
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(6) > section:last-child > section:first-child{
  top: -9px;
  left: 27px;
}
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(6) > section:last-child > section:last-child{
  top: -17px;
  left: 0;
}
/* Einde snor */

/* Mond */
.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7){
  position: relative;
  top: -250px;
  left: 65px;
  width: 70px;
  height: 40px;
  background-color: var(--mario-mouth);
  z-index: 6;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  transition: all 1s;
}

.mario.tired > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7){
  border-radius: 30px 30px 0 0;
}

.mario.sleep > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7){
  border-radius: 0 0 30px 30px;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7)::before{
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: 40px;
  background-color: var(--mario-skin);
  z-index: 9;
  transition: all 1s;
}

.mario.sleep > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7)::before{
  transform: translateY(-38px);
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7)::after{
  content: "";
  position: absolute;
  background-color: var(--mario-skin);
  z-index: 9;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7) > section:first-child{
  position: absolute;
  top: 0px;
  left: 0;
  width: 70px;
  height: 13px;
  background-color: white;
  z-index: 6;
}

.mario > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7) > section:last-child{
  position: absolute;
  top: 25px;
  left: 13px;
  width: 48px;
  height: 15px;
  background-color: var(--mario-tongue);
  z-index: 7;
  border-radius: 0 0 30px 30px;
  transform: rotate(180deg);
}
/* Einde mond */

/* 
  Media screens
*/
@media screen and (min-width: 1300px){
  div.streak{
    position: fixed;
  }
}

@media screen and (max-width: 959px){
  #rules main > section:nth-of-type(2) ul li{
    width: 50%;
  }
}

@media screen and (max-width: 768px){

  #rules main > section:nth-of-type(2) > ol li, #rules main > section:nth-of-type(2) ul li{
    width: 80%;
  }
  main > section:first-of-type, header > section:nth-child(1){
    padding-top: 80px;
  }
  
  #home > main > section h1{
    top:100px;
    margin-bottom: 50px;
  }

  #home{
    overflow-y: hidden;
  }

  header{
    justify-content: space-between;
    overflow-y: scroll;
  }

  .menu-btn{
    left: 50%;
    top: 60px;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 640px){
  #game {
    width: 600px;
  }

  #game header{
    width: 90%;
  }

  #game header.open{
    /* top: 410px;
    height: 800px; */
    top: 49%;
    height: 95%;
  }
}

@media screen and (max-width: 504px){

  header.open{
    padding: 20px;
  }

  header.open > section:first-of-type > button{
    width: 100%;
  }
  
  #home > main > section > section button, 
  #home > main > section > section button.primary
  header > section:first-child button{
    width: 260px !important;
  }
}


/* 
  Animation
*/

/* Point display */
.mario > span.display-point{
  animation: display-point 1s ease-out forwards;
}

@keyframes display-point {
  0%   {
    transform: translateY(0px);
    opacity: 0.1;
  }
  20%{
    transform: translateY(-10px);
    opacity: 1;
  }
  90%{
    transform: translateY(-31px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-31px);
    opacity: 0;
  } 
}
/* Einde point display */

/* Blink */

.mario.blink > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section > section:first-child{
  animation: blink .5s ease-in-out;
}

.mario.tired.blink > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section > section:first-child{
  animation: blink_tired .5s ease-in-out;
}

@keyframes blink {
  0%   {
    transform: translateY(-61px);
  }
  25%  {
    transform: translateY(0px);
  }
  50%  {
    transform: translateY(-61px);
  }
  70%  {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-61px);
  } 
}

@keyframes blink_tired {
  0%   {
    transform: translateY(-61px);
  }
  25%  {
    transform: translateY(-31px);
  }
  50%  {
    transform: translateY(-61px);
  }
  70%  {
    transform: translateY(-31px);
  }
  100% {
    transform: translateY(-61px);
  } 
}
/* Einde blink */

/* Raise brows */
.mario.yahoo > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(2){
  animation: raise_brows 1.5s ease-in;
}

.mario.yahoo > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7)::before{
  animation: raise_brows_mouth 1.5s ease-in-out;
}

@keyframes raise_brows {
  0%   {
    transform: translateY(0px);
  }
  25%  {
    transform: translateY(-31px);
  }
  50%  {
    transform: translateY(-21px);
  }
  70%  {
    transform: translateY(-31px);
  }
  100% {
    transform: translateY(0px);
  } 
}

@keyframes raise_brows_mouth {
  0%{
    transform: translateY(0px);
  }
  20%{
    transform: translateY(-31px);
  } 
  40%{
    transform: translateY(0px);
    background-color: var(--mario-skin);
  }
  75%{
    transform: translateY(-41px);
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
  100%{
    transform: translateY(0);
  }
}
/* Einde raise brows */

/* Waaa */
.mario.waaa > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(2) > section:first-child{
  animation: raise_brows 1.5s ease-in-out;
}

.mario.waaa > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(2) > :last-child{
  animation: raise_brows 1.2s .3s ease-in-out;
}

.mario.waaa > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7)::before{
  animation: waaa_mouth 1.5s ease-in-out;
}

@keyframes waaa_mouth {
  0%   {
    transform: translateY(0px);
  }
  10%{
    transform: translateY(-41px);
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
  50%{
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  } 
}
/* Einde waaa */

/* Who dis? */

.mario.who-dis > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section:first-child > :first-child{
  animation: wink .5s ease-in-out;
}

.mario.who-dis > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(2) > section:first-child{
  animation: wink_brow .5s ease-in-out;
}

.mario.who-dis > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7)::before{
  animation: who_dis_mouth 2s 1s ease-in-out;
}

@keyframes wink {
  0%   {
    transform: translateY(-61px);
  }
  50%  {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-61px);
  } 
}

@keyframes wink_brow{
  0%   {
    transform: translateY(0px);
  }
  50%  {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  } 
}

@keyframes who_dis_mouth {
  0%{
    top: 40px;
  } 
  10%{
    top: 0px;
  }
  20%{
    top: 40px;
  }
  30%{
    top: 0px;
  }
  50%{
    top: 40px;
  }
  60%{
    top: 0px;
    background: var(--mario-skin);
  }
  70%{
    top: 40px;
  }
  80%{
    top: 0px;
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
  100%{
    top: 0px;
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
}
/* Einde who dis */

/* Licky lick */
.mario.licky > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7)::before{
  content: "";
  top: -250px;
  position: absolute;
  width: 70px;
  height: 40px;
  background-color: var(--mario-skin);
  z-index: 7;
  border-radius: 0 0 30px 30px;
  overflow: hidden;

  animation: licky_mond 3s;
}

.mario.licky > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7) > section:last-child{
  animation: licky_tong 2s .3s;
}

.mario.licky > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section > section:first-child{
  animation: licky_ogen 2s ease-in-out;
}

@keyframes licky_mond{
  0%   {
    top:-250px;
  }
  5%   {
    top:-100px;
  }
  10%   {
    top:-10px;
  }
  60%   {
    top:-10px;
  }
  80%   {
    top:-150px;
  }
  100% {
    top:-250px;
  } 
}

@keyframes licky_tong{
  0%{
    left:13px;
    top: 25px;
  }
  25%{
    left:-15px;
    top: 15px;
    height: 40px;
  }
  50%{
    left:20px;
  }
  70%{
    left:-14px;
  }
  90%{
    left:13px;
  }
  100%{
    left:13px;
    top: 25px;
    height: 15px;
  }
}

@keyframes licky_ogen{
  0%   {
    transform: translateY(-61px);
  }
  25%  {
    transform: translateY(-35px);
  }
  80%  {
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(-61px);
  } 
}
/* Einde Licky lick */

/* Za warudo */

.mario.dio{
  animation: gradient 3s 1.4s ease-in-out;
}

.mario.dio > section:first-of-type{
  animation: dio_zoom 3s 1.4s ease-in-out;
}

.mario.dio > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7)::before{
  animation: dio_mouth 1.5s .3s forwards ease-in-out;
}

.mario.dio > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section{
  animation: dio_eyes 3s forwards ease-in-out;
}


@keyframes gradient {
  0% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
    filter: invert(0);
  }
  10% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.3 ) 9%, #fff 10%, #fff 100%);
    filter: invert(50%);
  }
  25% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
    filter: invert(50%);
  }
  50% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
    filter: invert(80%);
  }
  60% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.5 ) 59%, #fff 60%, #fff 100%);
    filter: invert(80%);
  }
  75% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
    filter: invert(80%);
  }
  80% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.8 ) 79%, #fff 80%, #fff 100%);
    filter: invert(80%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at 50% 32%, #f88 99%, #fff 100%, #fff 100%);
    filter: invert(0);
  }
}

@keyframes dio_zoom{
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(-5deg) scale(1.1);
  }
  20% {
    transform: rotate(5deg) scale(1.1);
  }
  30% {
    transform: rotate(20deg) scale(0.8);
  }
  90%{
    transform: rotate(20deg) scale(0.7);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes dio_mouth{

  0%{
    top: 40px;
    background: var(--mario-skin);
  } 
  10%{
    top: 0px;
  }
  20%{
    top: 40px;
  }
  30%{
    top: 0px;
  }
  50%{
    top: 40px;
    background: var(--mario-skin);
  }
  75%{
    top: 0px;
  }
  90%{
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
  100%{
    top: 0px;
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
}

@keyframes dio_eyes{
  0%{
    top: 46px;
    height: 60px;
  }
  40%{
    top: 30px;
    height: 80px;
  }
  100%{
    top: 30px;
    height: 80px;
  }
}
/* Einde za warudo */

/* Scary */

.mario.scary.scary_eyecolor > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section > section:nth-child(2){
  animation: scary_eyecolor .5s ease-in-out forwards;
}

.mario.scary.move_scary_eyes > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section > section:nth-child(2){
  animation: move_scary_eyes 1.5s 1 ease-in-out forwards;
}

.mario.scary.scary_bg{
  animation: scary_bg .1s 8 ease-in-out;
}

.mario.scary.scary_bg > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section{
  animation: black_eyes .1s 5 ease-in-out;
}

/* Minder erge flash voor mensen die daar niet zo oed tegen kunnen*/
@media (prefers-reduced-motion) {
  
  .mario.scary.scary_bg{
    animation: scary_bg 2s 1 ease-in-out;
  }
  
  .mario.scary.scary_bg > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(3) > section{
    animation: black_eyes .6s 2 ease-in-out;
  }
} 

.mario.scary > section:first-of-type > section:nth-of-type(2) > section:nth-of-type(7){
  animation: scary_mouth 3s ease-in-out forwards;
}

@keyframes scary_eyecolor {
  0%   {
    background-color: var(--mario-eye);
  }
  50%{
    background-color: red;
  }
  100% {
    background-color: var(--mario-eye);
  } 
}

@keyframes move_scary_eyes {
  0%   {
    top: 16px;
  }
  10% {
    top: 9px;
  }
  90% {
    top: -200px;
  } 
  100% {
    top: 16px;
  } 
}

@keyframes scary_mouth{
  0%   {
    border-radius: 0 0 30px 30px;
  }
  60%{
    border-radius: 30px 30px 0 0;
  }
  80%{
    border-radius: 30px 30px 0 0;
  }
  100% {
    border-radius: 0 0 30px 30px;
  } 
}

@keyframes scary_bg{
  0%   {
    background-color: var(--mario-bg-red);
  }
  25%  {
    background-color: black;
  }
  50%  {
    background-color:yellow;
  }
  70%  {
    background-color:black
  }
  100% {
    background-color: var(--mario-bg-red);
  } 
}

@keyframes black_eyes{
  0%   {
    background-color: var(--mario-eye);
  }
  25%  {
    background-color: black;
  }
  100% {
    background-color: var(--mario-eye);
  } 
}
/* Einde scary */